@{
    ViewBag.Title = "Home Page";
}


<main id="main">

    <!-- ======= Hero Section ======= -->
    <section class="hero-slider hero-style" id="home">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="/Content/img/head-bg/head-bg1.jpg">
                        <div class="container">
                            <div style="margin-top: -150px" data-swiper-parallax="300" class="slide-title">
                                <img style="height: 100px; display: block; margin-left: auto; margin-right: auto;"src="/svg company logo.svg">
                                <img src="/Content/img/head logo.svg">
                            </div>
                        </div>

                    </div>
                    <!-- end slide-inner -->
                </div>
                <!-- end swiper-slide -->

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="/Content/img/head-bg/head-bg2.jpg">
                        <div class="container">
                            <div style="margin-top: -150px" data-swiper-parallax="300" class="slide-title">
                                <img style="height: 100px; display: block; margin-left: auto; margin-right: auto;" src="/svg company logo.svg">
                                <img src="/Content/img/head logo.svg">

                            </div>
                        </div>

                    </div>
                    <!-- end slide-inner -->
                </div>
                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="/Content/img/head-bg/head-bg3.jpg">
                        <div class="container">
                            <div style="margin-top: -150px" data-swiper-parallax="300" class="slide-title">
                                <img style="height: 100px; display: block; margin-left: auto; margin-right: auto;" src="/svg company logo.svg">
                                <img src="/Content/img/head logo.svg">

                            </div>
                        </div>

                    </div>
                    <!-- end slide-inner -->
                </div>
                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image" data-background="/Content/img/head-bg/head-bg4.jpg">
                        <div class="container">
                            <div style="margin-top: -150px" data-swiper-parallax="300" class="slide-title">
                                <img style="height: 100px; display: block; margin-left: auto; margin-right: auto;" src="/svg company logo.svg">
                                <img src="/Content/img/head logo.svg">

                            </div>
                        </div>

                    </div>
                    <!-- end slide-inner -->
                </div>
                <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
            <!-- swipper controls -->

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>
    <!-- end of hero slider -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                    <div class="content">
                        <h3>Why Choose Medrivo Biocare for nursing your poultry?</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 d-flex">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Corporis voluptates sit</h4>
                                    <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Ullamco laboris ladore pan</h4>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Labore consequatur</h4>
                                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
                    <a href="#" class=" play-btn mb-4"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h4 data-aos="fade-up">About us</h4>
                    <h3 data-aos="fade-up">Enim quis est voluptatibus aliquid consequatur fugiat</h3>
                    <p data-aos="fade-up">Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Nemo Enim</a></h4>
                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">Dine Pad</a></h4>
                        <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container" data-aos="fade-up">

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/MOREGGS.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/GROW ME GOLD.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/YOLKCARE.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/VITAMED K.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/GUT ON.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/KOLIMED.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/HEPTAVITA.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/MEDIPHYT.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/TOXOKLEAN.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/Content/img/Product Branding/VB - CIDE.png" class="img-fluid" alt=""></div>
                </div>
            </div>

        </div>
    </section><!-- End Clients Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up">Contact</h2>
                <p data-aos="fade-up">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row justify-content-center">

                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Our Address</h3>
                        <p>148, wd no: 2, Gemd layout, Hingna, Wanadongri, Nagpur, 441110, Maharastra, India</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>medrivobioscare@gmail.com<br>contact@medrivobioscare.com<br>info@medrivobioscare.com</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-box">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <p>+91 96080 02775<br>+91 96080 02775<br>+91 96080 02775</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->
